# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.0.0=pypi_0
aiohttp=3.9.0=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.6.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=3.7.1=pypi_0
anykeystore=0.2=pypi_0
apex=0.1=pypi_0
appdirs=1.4.4=pypi_0
arrow-cpp=4.0.1=py39hced866c_3
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
aws-c-common=0.4.57=he6710b0_1
aws-c-event-stream=0.1.6=h2531618_5
aws-checksums=0.1.9=he6710b0_0
aws-sdk-cpp=1.8.185=hce553d0_0
blas=1.0=mkl
boost-cpp=1.73.0=h27cfd23_11
bottleneck=1.3.4=py39hce1f21e_0
brotli=1.0.9=he6710b0_2
bzip2=1.0.8=h7b6447c_0
c-ares=1.18.1=h7f8727e_0
ca-certificates=2023.08.22=h06a4308_0
cachetools=5.3.2=pypi_0
certifi=2023.11.17=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.7.0=pypi_0
contourpy=1.2.0=pypi_0
cryptacular=1.6.2=pypi_0
cuda-cccl=11.7.58=hc415cf5_0
cuda-command-line-tools=11.7.0=0
cuda-compiler=11.7.0=0
cuda-cudart=11.7.60=h9538e0e_0
cuda-cudart-dev=11.7.60=h6a7c232_0
cuda-cuobjdump=11.7.50=h28cc80a_0
cuda-cupti=11.7.50=hb6f9eaf_0
cuda-cuxxfilt=11.7.50=hb365495_0
cuda-documentation=11.7.50=0
cuda-driver-dev=11.7.60=0
cuda-gdb=11.7.50=h4a0ac72_0
cuda-libraries=11.7.0=0
cuda-libraries-dev=11.7.0=0
cuda-memcheck=11.7.50=hc446b2b_0
cuda-nsight=11.7.50=0
cuda-nsight-compute=11.7.0=0
cuda-nvcc=11.7.64=0
cuda-nvdisasm=11.7.50=h5bd0695_0
cuda-nvml-dev=11.7.50=h3af1343_0
cuda-nvprof=11.7.50=h7a2404d_0
cuda-nvprune=11.7.50=h7add7b4_0
cuda-nvrtc=11.7.50=hd0285e0_0
cuda-nvrtc-dev=11.7.50=heada363_0
cuda-nvtx=11.7.50=h05b0816_0
cuda-nvvp=11.7.50=hd2289d5_0
cuda-sanitizer-api=11.7.50=hb424887_0
cuda-toolkit=11.7.0=0
cuda-tools=11.7.0=0
cuda-visual-tools=11.7.0=0
cycler=0.12.1=pypi_0
dataproperty=1.0.1=pypi_0
datasets=2.15.0=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.7=pypi_0
distro=1.8.0=pypi_0
docker-pycreds=0.4.0=pypi_0
double-conversion=3.1.5=he6710b0_1
dropout-layer-norm=0.1=pypi_0
einops=0.7.0=pypi_0
emoji=2.8.0=pypi_0
evaluate=0.4.1=pypi_0
exceptiongroup=1.2.0=pypi_0
faiss-cpu=1.7.4=pypi_0
filelock=3.13.1=pypi_0
fire=0.5.0=pypi_0
flash-attn=0.2.6.post1=dev_0
fonttools=4.45.0=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.10.0=pypi_0
fused-dense-lib=0.0.0=pypi_0
gds-tools=1.3.0.44=0
gflags=2.2.2=he6710b0_0
gitdb=4.0.11=pypi_0
gitpython=3.1.40=pypi_0
glog=0.5.0=h2531618_0
google-auth=2.23.4=pypi_0
google-auth-oauthlib=1.1.0=pypi_0
greenlet=3.0.1=pypi_0
grpc-cpp=1.26.0=hf8bcb03_0
grpcio=1.59.3=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.2=pypi_0
httpx=0.25.2=pypi_0
huggingface-hub=0.19.4=pypi_0
hupper=1.12=pypi_0
hydra-colorlog=1.2.0=pypi_0
hydra-core=1.3.2=pypi_0
icu=58.2=he6710b0_3
idna=3.4=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.1.1=pypi_0
iniconfig=2.0.0=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
joblib=1.3.2=pypi_0
jsonlines=4.0.0=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.19.2=hac12032_0
ld_impl_linux-64=2.38=h1181459_1
libboost=1.73.0=h3ff78a5_11
libcublas=11.10.1.25=he442b6f_0
libcublas-dev=11.10.1.25=h0c8ac2b_0
libcufft=10.7.2.50=h80a1efe_0
libcufft-dev=10.7.2.50=h59a5ac8_0
libcufile=1.3.0.44=0
libcufile-dev=1.3.0.44=0
libcurand=10.2.10.50=heec50f7_0
libcurand-dev=10.2.10.50=hd49a9cd_0
libcurl=7.82.0=h0b77cf5_0
libcusolver=11.3.5.50=hcab339c_0
libcusolver-dev=11.3.5.50=hc6eba6f_0
libcusparse=11.7.3.50=h6aaafad_0
libcusparse-dev=11.7.3.50=hc644b96_0
libedit=3.1.20210910=h7f8727e_0
libev=4.33=h7f8727e_1
libevent=2.1.12=h8f2d780_0
libfaiss=1.7.4=h2bc3f7f_0_cpu
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=11.2.0=h00389a5_1
libgfortran5=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libnghttp2=1.46.0=hce63b2e_0
libnpp=11.7.3.21=h3effbd9_0
libnpp-dev=11.7.3.21=hb6476a9_0
libnvjpeg=11.7.2.34=hfe236c7_0
libnvjpeg-dev=11.7.2.34=h2e48410_0
libopenblas=0.3.21=h043d6bf_0
libprotobuf=3.11.2=hd408876_0
libssh2=1.10.0=h8f2d780_0
libstdcxx-ng=9.1.0=hdf63c60_0
libthrift=0.13.0=hfb8234f_6
lightning-utilities=0.3.0=pypi_0
lm-eval=0.3.0=dev_0
lxml=4.9.3=pypi_0
lz4-c=1.9.3=h295c915_1
markdown=3.5.1=pypi_0
markdown-it-py=2.2.0=py39h06a4308_1
markupsafe=2.1.3=pypi_0
matplotlib=3.8.2=pypi_0
mauve-text=0.3.0=pypi_0
mbstrdecoder=1.1.3=pypi_0
mdurl=0.1.0=py39h06a4308_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py39h7f8727e_0
mkl_fft=1.3.1=py39hd3c417c_0
mkl_random=1.2.2=py39h51133e4_0
multidict=6.0.4=pypi_0
multiprocess=0.70.15=pypi_0
ncurses=6.3=h7f8727e_2
ninja=1.11.1.1=pypi_0
nltk=3.8.1=pypi_0
nsight-compute=2022.2.0.13=0
numexpr=2.8.1=py39h6abb31d_0
numpy=1.23.5=pypi_0
numpy-base=1.22.3=py39hf524024_0
oauthlib=3.2.2=pypi_0
omegaconf=2.3.0=pypi_0
openai=1.3.5=pypi_0
openssl=1.1.1w=h7f8727e_0
orc=1.6.7=h973521d_2
packaging=23.2=pypi_0
pandas=2.1.3=pypi_0
pastedeploy=3.1.0=pypi_0
pathvalidate=3.2.0=pypi_0
pbkdf2=1.3=pypi_0
pillow=10.1.0=pypi_0
pip=23.3.1=pypi_0
plaster=1.1.2=pypi_0
plaster-pastedeploy=1.0.1=pypi_0
pluggy=1.3.0=pypi_0
portalocker=2.8.2=pypi_0
protobuf=4.23.4=pypi_0
psutil=5.9.6=pypi_0
pyarrow=14.0.0=pypi_0
pyarrow-hotfix=0.6=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pybind11=2.11.1=pypi_0
pycountry=22.3.5=pypi_0
pydantic=2.5.2=pypi_0
pydantic-core=2.14.5=pypi_0
pygments=2.15.1=py39h06a4308_1
pyparsing=3.1.1=pypi_0
pyramid=2.0.2=pypi_0
pyramid-mailer=0.15.1=pypi_0
pytablewriter=1.2.0=pypi_0
pytest=7.4.3=pypi_0
python=3.9.12=h12debd9_1
python-dateutil=2.8.2=pyhd3eb1b0_0
python-dotenv=1.0.0=pypi_0
python3-openid=3.2.0=pypi_0
pytorch-lightning=1.8.1=pypi_0
pytz=2023.3.post1=py39h06a4308_0
pyyaml=6.0.1=pypi_0
re2=2022.04.01=h295c915_0
readline=8.1.2=h7f8727e_1
regex=2023.10.3=pypi_0
repoze-sendmail=4.4.1=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rich=13.3.5=py39h06a4308_0
rotary-emb=0.1=pypi_0
rouge-score=0.1.2=pypi_0
rsa=4.9=pypi_0
sacrebleu=1.5.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.11.4=pypi_0
seaborn=0.13.0=pypi_0
sentry-sdk=1.37.1=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=69.0.2=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.1=pypi_0
snappy=1.1.9=h295c915_0
sniffio=1.3.0=pypi_0
sqlalchemy=2.0.23=pypi_0
sqlite=3.38.5=hc218d9a_0
sqlitedict=2.1.0=pypi_0
stanza=1.6.1=pypi_0
tabledata=1.3.3=pypi_0
tabulate=0.9.0=pypi_0
tcolorpy=0.1.4=pypi_0
tensorboard=2.15.1=pypi_0
tensorboard-data-server=0.7.2=pypi_0
termcolor=2.3.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
tomli=2.0.1=pypi_0
torch=1.13.1+cu117=pypi_0
torchmetrics=0.11.4=pypi_0
torchvision=0.14.1=pypi_0
tqdm=4.66.1=pypi_0
tqdm-multiprocess=0.0.11=pypi_0
transaction=4.0=pypi_0
transformers=4.27.0=pypi_0
translationstring=1.4=pypi_0
typepy=1.3.2=pypi_0
typing-extensions=4.8.0=pypi_0
tzdata=2023.3=pypi_0
uriparser=0.9.3=he6710b0_1
urllib3=2.1.0=pypi_0
utf8proc=2.6.1=h27cfd23_0
velruse=1.1.1=pypi_0
venusian=3.1.0=pypi_0
wandb=0.16.0=pypi_0
webob=1.8.7=pypi_0
werkzeug=3.0.1=pypi_0
wheel=0.42.0=pypi_0
wtforms=3.1.1=pypi_0
wtforms-recaptcha=0.3.2=pypi_0
xentropy-cuda-lib=0.1=pypi_0
xxhash=3.4.1=pypi_0
xz=5.2.5=h7f8727e_1
yarl=1.9.3=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.12=h7f8727e_2
zope-deprecation=5.0=pypi_0
zope-interface=6.1=pypi_0
zope-sqlalchemy=3.1=pypi_0
zstandard=0.22.0=pypi_0
zstd=1.4.9=haebb681_0
